<!DOCTYPE html>
<html>
<head>
    <title>Delete Student</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/delete.css' %}">
</head>
<body>

    <div class="container">
        <h2>⚠️ Delete Confirmation</h2>

        <p>Are you sure you want to delete this student?</p>

        <ul>
            <li><strong>Name:</strong> {{ student.name }}</li>
            <li><strong>Age:</strong> {{ student.age }}</li>
            <li><strong>Roll No:</strong> {{ student.roll_No }}</li>
            <li><strong>Class:</strong> {{ student.wclass }}</li>
        </ul>

        <form method="POST" id="deleteForm">
            {% csrf_token %}
            <button type="submit" class="delete-btn">Yes, Delete</button>
        </form>

        <a href="{% url 'studentlist' %}" class="cancel-btn">Cancel</a>
    </div>

    <script src="{% static 'js/delete.js' %}"></script>
</body>
</html>