<!DOCTYPE html>
<html>
<head>
    <title>Student Form</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="container">
        <h2>Student Form</h2>

        <form method="POST" id="studentForm">
            {% csrf_token %}
            
            {{ form.as_p }}
            
            <button type="submit">Submit</button>
        </form>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>