<!DOCTYPE html>
<html>
<head>
    <title>Success</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/success.css' %}">
</head>
<body>

    <div class="container">
        <div class="card">
            <h2>✅ Form Submitted Successfully</h2>
            
            <div class="btn-group">
                <a href="{% url 'student_add' %}" class="btn back">➕ Add More</a>
                <a href="{% url 'studentlist' %}" class="btn list">📚 Student List</a>
            </div>
        </div>
    </div>

    <script src="{% static 'js/success.js' %}"></script>

</body>
</html>