body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background: #086caf;
    text-align: center;
}

header {
    background: #333;
    color: white;
    padding: 20px;
}

.container {
    margin: 50px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: darkblue;
}

footer {
    background: #222;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
