body {
    margin: 0;
    font-family: 'Segoe UI';
    background: linear-gradient(120deg, #ff7e5f, #feb47b);
    transition: 0.3s;
}

/* Dark Mode */
.dark {
    background: #121212;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: black;
    color: white;
}

.navbar button {
    padding: 5px 10px;
    cursor: pointer;
}

.hero {
    text-align: center;
    padding: 50px;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 220px;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
}

button {
    background: #ff4b2b;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}